<!DOCTYPE html>
<html lang="en">
<%- include('./paritials/head.ejs') %>
<body>
    <nav> 

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="./creat">creat blog</a></li>
            <li><a href="./about">about</a></li>
        </ul>

    </nav>
    
    <h1>Blogs</h1>
    <h3>home pag</h3>
    <p>Lorem ipsum dolor sit.</p>
    

    <div class="blogs">
    <% if (blogs.length > 0 ){ %>
      <%  blogs.forEach(blog =>{ %>
            <a href="/blogs/<%= blog._id %>">
            <h3> <%= blog.title %> </h3>
            <p> <%= blog.snippet %> </p>
        </a>
      <%  }) %>
  <%  } else { %>
            <p>no blogs found</p>
            <% } %>
    </div>


    <%- include('./paritials/footer.ejs') %>

</body>
</html>